<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<import resource="database/splitterDS.xml" />
	<import resource="customer/spring-context.xml" />
	<import resource="META-INF/integration/spring-integration-context.xml"/>
	<import resource="META-INF/integration/http-outbound-config.xml"/>
</beans>